body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
  margin: 0;
  padding: 10px;
}

h1 {
  text-align: center;
}
.sub {
  text-align: center;
  color: #555;
}

.progreso-general {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.malla {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 10px;
}

.semestre {
  background: #e0f2fe;
  border-radius: 14px;
  padding: 12px;
  min-width: 280px;
}

.semestre h2 {
  text-align: center;
}

.materia-columna {
  background: #ffffff;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.materia-columna.aprobada {
  background: #d4edda;
  border-left: 5px solid #22c55e;
  text-decoration: line-through;
}

.materia-columna.reprobada {
  background: #fef2f2;
  border-left: 5px solid #ef4444;
}

.materia-columna.bloqueada {
  opacity: 0.4;
  pointer-events: none;
  transform: scale(0.97);
  filter: grayscale(80%);
}

.progresos {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

.progresos input {
  flex: 1;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
  text-align: center;
}

.agregar-materia {
  background: #f1f5f9;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}
.agregar-materia input {
  margin-bottom: 5px;
  padding: 6px;
  width: 100%;
}
