body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 15px;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.sub {
  text-align: center;
  color: #555;
  margin-bottom: 15px;
}

.progreso-general {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.semestre {
  margin-bottom: 25px;
}

.semestre h2 {
  margin-bottom: 10px;
  background: #e8ecf3;
  padding: 8px;
  border-radius: 8px;
}

.materia {
  background: white;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
}

.materia.aprobada {
  background: #d4edda;
  text-decoration: line-through;
}

.materia small {
  color: #555;
}

.inputs {
  display: flex;
  gap: 5px;
  margin-top: 8px;
}

.inputs input {
  flex: 1;
  padding: 6px;
}

.boton {
  margin-top: 8px;
  width: 100%;
  padding: 8px;
}
.materia.bloqueada {
  opacity: 0.35;
  pointer-events: none;
  transform: scale(0.97);
  filter: grayscale(100%);
}

.materia {
  transition: all 0.3s ease;
}
